body {
    background-image: url("SDHacks.png")
}

h1{
    color:black;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    padding-left: 75px;
    color:black;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

h4 {
    color:black;
    font-family: sans-serif;
    letter-spacing:1.5px;
    text-decoration: underline;
}

h2:hover {
    padding-left: 75px;
    color: white;
    font-size: 200%;
    text-shadow: 2px 2px grey;
}

h4:hover {
    color: white;
    font-size: 110%;
    text-decoration: underline;
    text-shadow: 2px 2px grey;
}

p {
    padding-left: 75px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}




